.introduction {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    color: white;
    display: flex;
    flex-direction: column;
    font-size: 3rem;
    justify-content: center;
    align-items: center;
    letter-spacing: 0.6rem;
    font-weight: bold;
}
.introduction > div {
    margin-bottom: 20px;
    padding: 0px 100px;
}

.auction_piece {
    width: 50%;
    display: flex;
    justify-content: space-between;
}
